h1{
    font-size: 120px;
    color:red;
    text-decoration: underline;
    font-family: "MedievalSharp";
    text-shadow: 3px 3px 1px black;
    margin: 0;
    padding: 20px 0;
}
html{
    font-family: 'Kenia', cursive;
    font-family: 'MedievalSharp', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: lightslategray;
}
body{
    
    width: 800px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background-color: #A9B421;
    border: 5px solid black;
}
a:hover{
    color: lightblue;
    text-decoration: underline;
}
p.campaign-title{
    font-size: 50px;
    color:red;
    -webkit-text-stroke: 1px black;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}
p.roster{
    font-size: 35px;
}
ul.character-list{
    font-size: 25px;
}
p.episode{
    font-size: 30px;
    text-decoration: underline;
    line-height: 60px;
}
.boxed1{
    border: 6px double black;
    
}
.boxed2{
    border: 8px solid black
}
h1{
    font-size: 80px;
    text-align: center;
    letter-spacing: 2px;
}
h2{
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
}
p.story1{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
}
img.haunted-mansion{
    display: block;
    margin: 10px auto;

}
img.haunted-mansion1{
    display: block;
    margin: 10px auto;
}
img.signaling-lantern{
    display: block;
    margin: 10px auto;
}
img.sea-ghost-ship{
    display: block;
    margin: 10px auto;
}